@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Lato', serif;
}

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --primary-color: #0F4C81;
  --primary-bg-color: #0F4C81;
  --text-base-color: #707070;
  --text-link-color: #6BA539;
  --text-green-color: #6BA539;
  --text-yellow-color: #FCA300;
  --text-red-color: #FF3B3B;
  --bg-green-color: #DEEFC9;
  --bg-yellow-color: #FFF4DE;
  --bg-red-color: #FFCDD4;
}




